body{
	margin: 0;
}

header{
	background-color: #0477ab;
	color: #fff;
	font-size: 14pt;
	font-weight: 600;
	padding: 1.5em;
	text-align:center;
	font-variant: uppercase;
	text-transform: uppercase
}

h1{
	color:#fff;
}

h3{
	color: #FFF;
}

.content{
	background-color: #00796B;
}

.aside{
	background-color: #BDBDBD;
}

.aside img{
}

.result{
	display:none;
	margin-bottom: 2em;
}

.question-button{
	margin-bottom: .5em;
} 

.indications{
	font-size: 12pt;
	font-weight: 500;
	color: #fff;
}

.finish-hand{
	width: 200px;
}

.score{
	padding: 1em;
	margin-bottom:1em;
	color: #fff;
	font-weight: 500;
	font-size: 14pt;
}
.enemy{
	height:150px;
}
.my-hand{
	height:150px;
}
.question{
	text-align: center;
	padding: 2em;
	padding-left: 0em;
}

.hand{
	width: 100px;
	height: 100px;
}

.hand:first-child{
	margin-left: 0em;
}

.hand .image img{
	width:100px;
}

.possibleAnswer{
	display: none;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.final-score{
	display: none;
}

.flash-button{
	display: none;
}

.spent-time{
	display: none;
}

.finish-button{
	display:none;
}

.save-button{
	margin-bottom: 2em;
}

.next-button{
	margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
    body {
        color: lightblue !important;
    }
    #hand-selected img, #hand-revenge img{
		width:100px;
    }
}